{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}
<div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                    </div>
                    <div class="card card-about-me">
                        <div class="body">
                            <div class="col-sm-6">
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>
                                        <b>Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Creditor</b>
                                    </div>
                                    <div class="content">
                                        {{ object.creditor }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Vehicle Number</b>
                                    </div>
                                    <div class="content">
                                        {{ object.v_no }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Driver Name</b>
                                    </div>
                                    <div class="content">
                                       {{ object.driver_name }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>fuel type</b>
                                    </div>
                                    <div class="content">
                                        {{ object.fuel_type }}
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Remarks</b>
                                    </div>
                                    <div class="content">
                                        {{ object.remarks }}
                                    </div>
                                </div>
                    <br><br><br><br><br><br><br>
                        </div>
                    </div>
{% endblock %}