{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css">

{% endblock %}

{% block body %}

            <div class="card">
              <div class="card-header">
                <h3 class="card-title" align="center"> Expenses Detail Table </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>Date</th>
                      <th>Total Amount Of Expense</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                    <tbody>
                        {% for expense in expense_detail %}
                        <tr>
                            <td data-sort="{{ expense.date|date:"Ymd" }}">{{ expense.date | date:"d-m-Y" }}</td>
                            <td>{{ expense.total_Amount }}</td>
                            <td>
                                <a href="{% url 'expense_detail-update'  expense.id %}" class="btn btn-info">
                                   <li class="fas fa-pencil-alt"></li> Edit
                                </a>
                                <a href="{% url 'expense_detail-detail'  expense.id %}" class="btn btn-success">
                                   <li class="fas fa-file-invoice"></li> Detail
                                </a>
                                <a href="{% url 'expense_detail-delete'  expense.id %}" class="btn btn-danger">
                                   <li class="fas fa-trash-alt"></li> Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>
                      <th align="center">Date</th>
                      <th align="center">Total Amount Of Expense</th>
                      <th align="center">Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>


    <script>
    $(document).ready(function() {
    $('#example1').DataTable( {
        dom: 'QBfrtip',
        colReorder: true,
        buttons: [
            'colvis',
            'copy',
            {
                extend: 'excel',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                messageTop: 'INDIAN OIL',
                exportOptions: {
                    columns: ':visible'
                }
            },
              {
                    extend: 'print',
                    messageTop: "<div class='col-sm-3'></div><div class='col-sm-3'><img src='{% static 'Indian_Oil_Logo.jpeg' %}' width='100' height='100'></img></div>",
                    exportOptions:{
                        columns:':visible'
                    }
            }
        ]
    } );
} );
    </script>
    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>

{% endblock %}