{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}

                    <div class="header">
            <center><h2>Employment Payment Details</h2></center>
            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p>{{ object.designation }}</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-9">

                    <div class="card card-about-me">

                        <div class="body">

                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i><b>Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>employee id</b>
                                    </div>
                                    <div class="content">
                                        {{ object.employeeid }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>amount</b>
                                    </div>
                                    <div class="content">
                                       {{ object.amount }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Finalise salary</b>
                                    </div>
                                    <div class="content">
                                       {{ object.finalisesalary }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>type</b>
                                    </div>
                                    <div class="content">
                                        {{ object.type }}
                                    </div>
                                </div>
                            {% if object.type == 'bank' %}
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>bank name</b>
                                    </div>
                                    <div class="content">
                                        {{ object.bankname }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>cheque no</b>
                                    </div>
                                    <div class="content">
                                        {{ object.chequeno }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>branch name</b>
                                    </div>
                                    <div class="content">
                                        {{ object.branchname }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>cheque date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.cheque_date }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>IFCS code</b>
                                    </div>
                                    <div class="content">
                                       {{ object.IFSC }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>reference id</b>
                                    </div>
                                    <div class="content">
                                        {{ object.reference_id }}
                                    </div>
                                </div>
                            {% endif %}
                             <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>remarks</b>
                                    </div>
                                    <div class="content">
                                        {{ object.remarks }}
                                    </div>
                                </div>
                            <br><br><br><br><br><br><br><br>
                        </div>

                        </div>
                    </div>
                </div>
{% endblock %}